th,
td {
  text-align: center;
}

img {
  border-radius: 20%;
}

.pagination {
  display: flex;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  gap: 8px;
  align-items: center;
}

.page {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}